* {
    box-sizing: border-box;
}

html {
    font:
        1.2em/1.4 Arial,
        Helvetica,
        sans-serif;
}

body {
    padding: 0 0 1em;
}

header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
}

main {
    padding: 0 1em;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards li {
    border: 5px solid #000;
    margin-bottom: 1em;
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
}

.cards .inner {
    padding: 0.5em 1em;
}

.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
}


@media screen and (width >=50rem) {

    body {
        display: grid;
        grid-template-areas:
            "header header"
            "main aside"
        ;
        grid-template-columns: 7fr 1fr;
        grid-template-rows: 6rem 7fr;
        gap: 1rem;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
    }

    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    header ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

}