html {
    background: conic-gradient(from 210deg, rgba(184, 187, 197, 1.000) 0.000deg, rgba(184, 187, 197, 1.000) 24.000deg, rgba(184, 181, 184, 1.000) 24.000deg, rgba(184, 181, 184, 1.000) 48.000deg, rgba(183, 175, 169, 1.000) 48.000deg, rgba(183, 175, 169, 1.000) 72.000deg, rgba(181, 168, 154, 1.000) 72.000deg, rgba(181, 168, 154, 1.000) 96.000deg, rgba(179, 161, 139, 1.000) 96.000deg, rgba(179, 161, 139, 1.000) 120.000deg, rgba(175, 152, 125, 1.000) 120.000deg, rgba(175, 152, 125, 1.000) 144.000deg, rgba(171, 144, 112, 1.000) 144.000deg, rgba(171, 144, 112, 1.000) 168.000deg, rgba(166, 135, 101, 1.000) 168.000deg, rgba(166, 135, 101, 1.000) 192.000deg, rgba(161, 126, 92, 1.000) 192.000deg, rgba(161, 126, 92, 1.000) 216.000deg, rgba(155, 117, 85, 1.000) 216.000deg, rgba(155, 117, 85, 1.000) 240.000deg, rgba(148, 108, 81, 1.000) 240.000deg, rgba(148, 108, 81, 1.000) 264.000deg, rgba(141, 99, 79, 1.000) 264.000deg, rgba(141, 99, 79, 1.000) 288.000deg, rgba(133, 90, 80, 1.000) 288.000deg, rgba(133, 90, 80, 1.000) 312.000deg, rgba(125, 83, 84, 1.000) 312.000deg, rgba(125, 83, 84, 1.000) 336.000deg, rgba(116, 75, 91, 1.000) 336.000deg 360.000deg);
    min-height: 100%;
    font-size: 32px;
    font-family: Nunito, sans-serif;
    font-weight: thin;
    color:rgb(21, 0, 0)
}

h1 {
    font-size: 2rem;
    margin: 1rem;
    border-bottom: 0.25rem dashed rgb(21, 0, 0);
}

article {
    margin: 1rem;
}