
body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    margin: 0px;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 350;
    color: rgb(10, 10, 10)
}

div {
    height: 100px;
    width: 200px;
    border-radius: 48px;
    border: 4px dotted black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: scale 0.5s ease, filter 0.5s ease;
    filter: blur(4px) drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.2));
}

div:hover {
    scale: 1.08;
    filter: blur(0) drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.2));
}

div:active {
    scale: 1.11;
    filter: blur(0) drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.2));
}