html {
    background: linear-gradient(90deg, rgba(54, 47, 17, 1.000) 0.000%, rgba(54, 47, 17, 1.000) 7.692%, rgba(52, 52, 18, 1.000) 7.692%, rgba(52, 52, 18, 1.000) 15.385%, rgba(52, 58, 22, 1.000) 15.385%, rgba(52, 58, 22, 1.000) 23.077%, rgba(56, 66, 28, 1.000) 23.077%, rgba(56, 66, 28, 1.000) 30.769%, rgba(62, 74, 35, 1.000) 30.769%, rgba(62, 74, 35, 1.000) 38.462%, rgba(70, 83, 45, 1.000) 38.462%, rgba(70, 83, 45, 1.000) 46.154%, rgba(81, 91, 55, 1.000) 46.154%, rgba(81, 91, 55, 1.000) 53.846%, rgba(93, 99, 67, 1.000) 53.846%, rgba(93, 99, 67, 1.000) 61.538%, rgba(107, 105, 80, 1.000) 61.538%, rgba(107, 105, 80, 1.000) 69.231%, rgba(122, 110, 92, 1.000) 69.231%, rgba(122, 110, 92, 1.000) 76.923%, rgba(138, 112, 104, 1.000) 76.923%, rgba(138, 112, 104, 1.000) 84.615%, rgba(153, 112, 116, 1.000) 84.615%, rgba(153, 112, 116, 1.000) 92.308%, rgba(169, 110, 126, 1.000) 92.308% 100.000%);
    background-size: contain;
    min-height: 100%;
    font-size: calc(1vw + 24px);
    font-family: Nunito, sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255)
}

* {
    box-sizing: border-box;
}

@media (max-width: 800px) {
    html {
        background: linear-gradient(0deg, rgba(54, 47, 17, 1.000) 0.000%, rgba(54, 47, 17, 1.000) 7.692%, rgba(52, 52, 18, 1.000) 7.692%, rgba(52, 52, 18, 1.000) 15.385%, rgba(52, 58, 22, 1.000) 15.385%, rgba(52, 58, 22, 1.000) 23.077%, rgba(56, 66, 28, 1.000) 23.077%, rgba(56, 66, 28, 1.000) 30.769%, rgba(62, 74, 35, 1.000) 30.769%, rgba(62, 74, 35, 1.000) 38.462%, rgba(70, 83, 45, 1.000) 38.462%, rgba(70, 83, 45, 1.000) 46.154%, rgba(81, 91, 55, 1.000) 46.154%, rgba(81, 91, 55, 1.000) 53.846%, rgba(93, 99, 67, 1.000) 53.846%, rgba(93, 99, 67, 1.000) 61.538%, rgba(107, 105, 80, 1.000) 61.538%, rgba(107, 105, 80, 1.000) 69.231%, rgba(122, 110, 92, 1.000) 69.231%, rgba(122, 110, 92, 1.000) 76.923%, rgba(138, 112, 104, 1.000) 76.923%, rgba(138, 112, 104, 1.000) 84.615%, rgba(153, 112, 116, 1.000) 84.615%, rgba(153, 112, 116, 1.000) 92.308%, rgba(169, 110, 126, 1.000) 92.308% 100.000%);
    }
}

h1 {
    font-size: 2rem;
    margin: 1rem;
    border-bottom: 0.25rem dashed white;
    transition: scale ease 0.5s;
}

h1:hover {
    scale: 1.02;
}

article {
    margin: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem;
    transition: scale ease 0.5s;
    border-left: 0.25rem dotted white;
    padding-left: 0.5rem;
}

h2:hover {
    scale: 1.015;
}