@font-face {
  font-family: "quicksand";
  src: url("quicksand.ttf") format("ttf");
}

html {
  font-size: 24px;
  margin: 0;
  font-family: "quicksand", sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  word-spacing: 0.4rem;
}