h1 {
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 128px;
    color: rgba(0 0 0 / 0.0);
    letter-spacing: 0.5rem;
    background-image: url("dark.jpg");
    background-size: 100%;
    background-position: 20% 50%;
    transition: letter-spacing 0.7s ease, background-size 0.7s ease;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

h1:hover {
    letter-spacing: 1.5rem;
}