body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background: rgb(0, 0, 0);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 2rem 0;
}

section article {
    width: 20rem;
    height: 10rem;
    text-align: center;
    padding: 10px;
    background: rgb(239, 239, 239);
    border-radius: 1rem;
    transition: scale 0.3s ease;
}

article:hover {
    scale: 1.08;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.flex p {
    border: 2px dotted black;
    border-radius: 4px;
    padding: 1rem;
}

/* Add your flexbox CSS below here */