body {
    width: 500px;
    height: 1400px;
    margin: 0 auto;
}

p {
    background: rgb(177, 255, 255);
    border: 3px solid rgb(109, 109, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 0.5rem;
}

span {
    background: rgb(255, 196, 196);
    border: 1px solid black;
}

h1 {
    position: sticky;
    top: 0;
    width: 500px;
    margin-top: 0;
    background: white;
    padding: 10px;
}
