html {
    font: 24px Nunito, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer"
    ;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 3rem 1fr 3rem;
    gap: 0.5rem;
    margin: 0;
    min-height: 100vh;
}

header, main, footer, aside {
    border: dotted 0.2rem black;
    border-radius: 0.1rem;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}